.pagination-block

  %nav
    %ul.pagination.pagination-sm
      - if page_obj.has_previous
        %li
          %a{'href': '?={queries.urlencode}&page=1',
             'aria-label': 'First page',
             'title': 'First page'}
            %i.fa.fa-angle-double-left{'aria-hidden': 'true'}

        %li
          %a{'href': '?={queries.urlencode}&page=={page_obj.previous_page_number}',
             'aria-label': 'Previous page',
             'title': 'Previous page'}
            %i.fa.fa-angle-left{'aria-hidden': 'true'}

      - for p in page_range
        - if p
          - if p == page_obj.number
            %li.active
              %a{'href': ''}
                {{ p }}
          - else
            %li
              %a{'href': '?={queries.urlencode}&page=={p}'}
                {{ p }}

      - if page_obj.has_next
        %li
          %a{'href': '?={queries.urlencode}&page=={page_obj.next_page_number}',
             'aria-label': 'Next page',
             'title': 'Next page'}
            %i.fa.fa-angle-right{'aria-hidden': 'true'}

        %li
          %a{'href': '?={queries.urlencode}&page=={paginator.num_pages}',
             'aria-label': 'Last page',
             'title': 'Last page'}
            %i.fa.fa-angle-double-right{'aria-hidden': 'true'}

      %li
        %a{'href': 'javascript:selectPage("={queries.urlencode}", ={page_obj.number}, ={paginator.num_pages}, "Go to page")',
           'aria-label': 'Go to page',
           'title': 'Go to page'}
          %i.fa.fa-ellipsis-h{'aria-hidden': 'true'}

  %div.count
    Number of results : {{ paginator.count }}
    %br
    Number of displayed results :
    {{ paginator.per_page }}
    (
    - for limit in pagination_limits
      %a{'href': '?paginate_by={{ limit }}'}
        {{ limit }}
      - if not forloop.last
        \/
    )
    - if grid_list
      - include 'core/blocks/grid-list.html'
