-# List representatives' groups

- extends 'base.html'
- load positions_tags

- block content
  %table.table
    - for group in groups
      %tr
        %td
          %a{'href': '{{ group | by_group_url }}'}w
            - if group.abbreviation
              ={group.abbreviation}
        %td
          %a{'href': '{{ group | by_group_url }}'}= group.name
